<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Discussion forums</title>
  </head>
  <body class="{{template}}">
    <div class="container">
      {{{body}}}
    </div>
    {{> footer}}
  </body>
</html>