<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
</head>

<body>
  <h1>Bingo forums</h1>
  <h2>Log in</h2>
  <form id="login_form">
    <label for="username">Username: </label>
    <input id="username" type="text" name="username" />
    <br>
    <label for="password">Password: </label>
    <input id="password" type="password" name="password" />
    <br>
    <input type="submit" value="Log in">
  </form>
  <p id="output" style="color: red"></p>
  <script>
    function sendData() {
      // Read data from the form fields.
      let data = {
        username: document.getElementById("username").value,
        password: document.getElementById("password").value
      }

      fetch("/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      }).then(function (response) {
        if (response.ok) {
          response.json().then(function (data) {
            localStorage.setItem("access_token", data["token"]);
          });
          window.location.href = "http://localhost:3000/";
        }
        else {
          console.log(error);
          let output = document.getElementById("output")
          output.textContent = "Login failed!";
        }
      });
    }
    window.onload = function () {
      let form = document.getElementById("login_form");

      form.addEventListener("submit", function (event) {
        event.preventDefault();

        sendData();
      });
    }
  </script>
</body>

</html>