<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
</head>

<body>
  <h1>Bingo forums</h1>
  <h2>Log in</h2>
  <form method="POST" action="/handler.js">
    <label for="username">Username: </label>
    <input type="text" name="username" />
    <br>
    <label for="password">Password: </label>
    <input type="password" name="password" />
    <br>
    <input type="submit" value="Log in">
  </form>
</body>

</html>