<h1>Discussion forums</h1>
<h2>Log in</h2>
<form id="login_form">
  <label for="username">Username: </label>
  <input id="username" type="text" name="username" />
  <br>
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" />
  <br>
  <input type="submit" value="Log in" id="submitbtn">
</form>
<p id="output" style="color: red"></p>
<script src={{script}}></script>