<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
</head>

<body>
  <h1>Bingo forums</h1>
  <h2>Register</h2>
  <form method="POST" action="/handler2.js">
    <label for="username">Username: </label>
    <input type="text" , name="username">
    <br>
    <label for="email">Email: </label>
    <input type="text" , name="email">
    <br>
    <label for="password">Password: </label>
    <input type="password" , name="password">
    <br>
    <label for="confpassword">Confirm password: </label>
    <input type="password" , name="confpassword">
    <br>
    <input type="submit" value="Register">
  </form>
</body>

</html>