<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
</head>

<body>
  <h2>Register</h2>
  <form id="register_form">
    <label for="username">Username: </label>
    <input id="username" type="text" , name="username">
    <br>
    <label for="email">Email: </label>
    <input id="email" type="text" , name="email">
    <br>
    <label for="password">Password: </label>
    <input id="password" type="password" , name="password">
    <br>
    <label for="confpassword">Confirm password: </label>
    <input id="confirm_password" type="password" , name="confpassword">
    <br>
    <input type="submit" value="Register">
  </form>
  <p id="output"></p>
  <script src={{script}}></script>
</body>

</html>