<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
</head>

<body>
  <h1>Bingo forums</h1>
  {{#if true}}
  <form method="POST" action="/handler.js">
    <input type="text" name="username" />
    <label for="username">Username: </label>
    <input type="password" name="password" />
    <label for=password>Password: </label>
    <input type="submit" value="Log in">
  </form>
  {{/if}}
  {{else}}
  <p>Came from register</p>
  <form method="POST" action="/handler2.js">
    <input type="text", name="username">
    <label for="username">Username: </label>
    <input type="text", name="email">
    <label for="email">Email: </label>
    <input type="password", name="password">
    <label for="password">Password: </label>
    <input type="password", name="confpassword">
    <label for="confpassword">Confirm password: </label>
    <input type="submit" value="Register"
  </form>
  {{/else}}
  }}
</body>

</html>