<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Bingo forums</h1>
    <p><a href="/login">Log in</a> &#124; <a href="/register">Register</a> </p>
    <h2>Newest discussions</h2>
    {{!
      * FETCH HEADLINES FROM DB HERE */
    }}
    {{
      <p>No recent discussions.</p>
    }}
  </body>
</html>